/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #121212;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #121212;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.test{
  background-color: gray;
  color:white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

test-color {
  /* 원래 쓰던 섹션 색 */
  color: #292646;
  /* 테스트 하려는 팔레트 */
  color: #333D51;
  color: #D3AC2B;
  color: #CBD0D8;
  color: #F4F3EA;
}





:root {
  font-family: 'Noto Sans KR', 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a:hover {
  color: #D3AC2B;
}

.v-application__wrap, .v-toolbar__content {
  background-color: #08042B;
}

.contents-section, .title-section {
  background-color: #333D51;
  min-width: 900px;
}

.contents-section, .part-section{
  border-radius: 12px;
}

.part-section {
  background-color: #CBD0D8;
}

hr.v-divider {
  border-right-width : 6px;
  border-bottom-width: 6px;
}

.v-navigation-drawer__content{
  background-color:#08042B;
}


.plus-btn{
  color:white;
  transform: translateY(15px);
}

.button {
  /* 수정필요 */
  elevation: 0;
}